In [14]:
a=[152,254,356,354,421,563,365]
b=sorted(a)
print(b)

print(b[-1])

[152, 254, 354, 356, 365, 421, 563]
563

In [8]:
a=[]
b1=int(input("Enter The Number of items in the list:"))
for x in range (b1):
    b2=int(input("Enter the Numbers: "))
    a.append(b2)
print(a)
b3=sorted(a)
print("The largest Number in the list is: ",b3[-1])

Enter The Number of items in the list:10
Enter the Numbers: 5
Enter the Numbers: 45
Enter the Numbers: 65
Enter the Numbers: 85
Enter the Numbers: 95
Enter the Numbers: 99
Enter the Numbers: 65
Enter the Numbers: 701
Enter the Numbers: 54
Enter the Numbers: 844
[5, 45, 65, 85, 95, 99, 65, 701, 54, 844]
The leargest Number in the list is:  844

In [13]:
a="Rajesh"
print(a[::-1])       # TO reverse the given string

hsejaR

In [15]:
for x in range (5): 
    a=input("Enter The Name: ")
    print(a[::-1])       # To reverse the user input

Enter The Name: Raviraj
jarivaR
Enter The Name: Jitendra
ardnetiJ
Enter The Name: Sagar
ragaS
Enter The Name: Rahul
luhaR
Enter The Name: Shashikant
tnakihsahS

In [11]:
import pandas as pd
a=[]
b=int(input("Enter the number of students in the class: "))
for x in range (b):
    a1=int(input("Enter the age of the students :"))
    a.append(a1)
print("The given List of age of the students:",a)
list=print("By Ascending Order: ",sorted(a))
setlist=set(a)
n=len(a)

f=[]
c=[]
for x in setlist:
    freq=a.count(x)
    if (freq >= 1):
        print(x," ",freq)
        c.append(x)
        f.append(freq)
        
df=pd.DataFrame({"Class":c,"Frequency":f})
df
df['Cumulative Frequency'] = df['Frequency'].cumsum()
df

Q1= n/4
print(Q1)

Enter the number of students in the class: 25
Enter the age of the students :17
Enter the age of the students :26
Enter the age of the students :18
Enter the age of the students :25
Enter the age of the students :19
Enter the age of the students :24
Enter the age of the students :23
Enter the age of the students :20
Enter the age of the students :22
Enter the age of the students :21
Enter the age of the students :21
Enter the age of the students :20
Enter the age of the students :20
Enter the age of the students :23
Enter the age of the students :22
Enter the age of the students :23
Enter the age of the students :21
Enter the age of the students :24
Enter the age of the students :25
Enter the age of the students :25
Enter the age of the students :24
Enter the age of the students :24
Enter the age of the students :26
Enter the age of the students :23
Enter the age of the students :23
The given List of age of the students: [17, 26, 18, 25, 19, 24, 23, 20, 22, 21, 21, 20, 20, 23, 22, 23, 21, 24, 25, 25, 24, 24, 26, 23, 23]
By Ascending Order:  [17, 18, 19, 20, 20, 20, 21, 21, 21, 22, 22, 23, 23, 23, 23, 23, 24, 24, 24, 24, 25, 25, 25, 26, 26]
17   1
18   1
19   1
20   3
21   3
22   2
23   5
24   4
25   3
26   2

   Class  Frequency  Cumulative Frequency
0     17          1                     1
1     18          1                     2
2     19          1                     3
3     20          3                     6
4     21          3                     9
5     22          2                    11
6     23          5                    16
7     24          4                    20
8     25          3                    23
9     26          2                    25

In [16]:
Freq1=n/4
F1=round(Freq1)
print("First Freq is:",F1)

Freq2=2*n/4
F2=round(Freq2)
print("Second Freq is:",F2)
Freq3=3*n/4
F3=round(Freq3)
print("Third Freq is:",F3)

First Freq is: 6
Second Freq is: 12
Third Freq is: 19

In [ ]:
# Crresponding class of the Freq1,freq2,Freq3 is a quartile.